#title-block-header .quarto-title {
display: block !important;
text-align: center !important;
}

#title-block-header h1.title {
margin: 0.25rem auto 0 !important;
text-align: center !important;
}
#title-block-header .subtitle {
margin: 0.25rem auto 0 !important;
text-align: center !important;
}

.about-links {
display: flex !important;
flex-wrap: wrap;
justify-content: center !important;
gap: 0.5rem 0.75rem;
margin-top: 0.5rem !important;
}
